.notify_error_layer {
    height: 20px;
    line-height: 20px;
    width: 100%;
    background-color: #760d0d;
    opacity: 0.0;
    position: absolute;
    top: 0px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    display: none;
    z-index: 999;
    font-size: 16px;
}

.notify_sucess_layer {
    height: 20px;
    line-height: 20px;
    width: 100%;
    background-color: #307407;
    opacity: 0.0;
    position: absolute;
    top: 0px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    display: none;
    z-index: 999;
    font-size: 16px;
}

.dockBtnBottom {
    position: fixed;
    bottom: 90px;
    left: 0px;
    z-index: 999;
    width: 92%
}

.dockBottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    width: 100%
}

.dockDotBottom {
    position: fixed;
    bottom: 90px;
    left: 0px;
    z-index: 999;
    width: 100%
}

.dotbox {
    width: 43px;
    margin: 0px auto;
    height: 11px;
}

.dotbox span {
    height: 11px;
    width: 11px;
    display: block;
    float: left;
    margin: 0px auto;
    background: url(../../images/dot.png) no-repeat left top;
    background-size: 11px 22px;
}

.dotbox .doton {
    background: url(../../images/dot.png) no-repeat left bottom;
    background-size: 11px 22px;
}