/*.btnleft {*/
/*display: block;*/
/*padding: 6px 6px;*/
/*max-width: 60px;*/
/*color: #fff;*/
/*background: #e7aa1f;*/
/*-moz-border-radius: 2px;*/
/*Fi-webkit-border-radius: 2px;*/
/*-khtml-border-radius: 2px;*/
/*border-radius: 2px;*/
/*}*/

/*.btnright {*/
/*display: block;*/
/*padding: 6px 6px;*/
/*max-width: 40px;*/
/*color: #fff;*/
/*background: #3b5998;*/
/*-moz-border-radius: 2px;*/
/*Fi-webkit-border-radius: 2px;*/
/*-khtml-border-radius: 2px;*/
/*border-radius: 2px;*/
/*}*/

.openhead {
    background-color: #f5f5f5;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    color: #333;
}

.openhead .close {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 5px;
    top: 0px;
    background: url(../../images/close.png) no-repeat left top;
    background-size: 44px 132px;
}

.openhead .close:hover {
    background: url(../../images/close.png) no-repeat left -44px;
    background-size: 44px 132px;
}

.btnleft {
    display: block;
    max-width: 60px;
    color: #fff;
    padding: 2px 6px;
    border: 1px solid #ddd;
    color: #138CFB;
    -moz-border-radius: 2px;
    Fi-webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}

.btnright {
    display: block;
    padding: 2px 6px;
    max-width: 40px;
    color: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 2px;
    color: #138CFB;
    Fi-webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}

#popWindow {
    width: 300px;
    height: 300px;
    opacity: 0.1; /* 透明度 */
    background-color: white;
    position: absolute;
    display: none;
    z-index: 1999;
    left: 0px;
    top: 0px;
    /*boder:1px solid #fff;*/
    -moz-border-radius: 2px; /*仅Firefox支持，实现圆角效果*/
    -webkit-border-radius: 2px; /*仅Safari,Chrome支持，实现圆角效果*/
    -khtml-border-radius: 2px; /*仅Safari,Chrome支持，实现圆角效果*/
    border-radius: 2px; /*仅Opera，Safari,Chrome支持，实现圆角效果*/
}

#overlay {
    background: #000;
    opacity: 0.1; /* 透明度 */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display: none;
}

#progress {
    width: 100px;
    height: 100px;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    display: none;
    z-index: 1800;
    text-align: center;
    /*boder:1px solid #fff;*/
    -moz-border-radius: 4px; /*仅Firefox支持，实现圆角效果*/
    -webkit-border-radius: 4px; /*仅Safari,Chrome支持，实现圆角效果*/
    -khtml-border-radius: 4px; /*仅Safari,Chrome支持，实现圆角效果*/
    border-radius: 4px; /*仅Opera，Safari,Chrome支持，实现圆角效果*/
}

#progress img {
    margin: 30px;
}